body {
    background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/142/877/original/Comp-Sci.jpg?1725969122);
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.8);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgba(3, 78, 131, 0.478);
    color: white;
    text-align: center;
    padding: 50px 60px 25px 60px;
    border-radius: 20px;
}

footer {
    font-size: 12px;
}

h1 {
    margin: 50px auto;
    font-size: 40px;
}

form {
    margin: 0px;
    display: flex;
    justify-content: center;
}

.example {
    display: block;
    display: flex;
    justify-content: left;
    margin-left: 15%;
    font-style: italic;
    font-size: 12px;
    color: rgb(236, 233, 233);
}

.instructions {
    padding: 10px;
    margin: 10px 5px 10px 10px;
    width: 50%;
    font-size: 14px;
    border-radius: 20px;
    line-height: 1.5;
    border: none;
}

.submit-button {
    background-color: rgb(226, 226, 230);
    border: none;
    margin: 10px 10px 10px 5px;
    padding: 0 20px 0 20px;
    border-radius: 20px;
    font-weight: bold;
    width: 100px;
}

.recipe {
    font-size: 16px;
    margin: 10px;
    padding: 20px;
    margin-bottom: 40px;
    line-height: 2;
}

.hidden {
    display: none;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.blink {
    animation: blink 0.85s step-start 0s infinite;
}
