body {
    background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/142/930/original/360_F_551933523_nBWNQeC6vA8sDE6DDDQeo3YmSRQnlOjN.jpg?1725996686);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: rgba(255, 255, 255, 0.716);
    color: rgb(96, 62, 38);
    text-align: center;
    padding: 50px 60px 25px 60px;
    border-radius: 20px;
}

footer {
    font-size: 12px;
}

h1 {
    margin: 50px auto;
    font-size: 40px;
}

form {
    margin: 0px;
    display: flex;
    justify-content: center;
}

.example {
    display: block;
    display: flex;
    justify-content: left;
    margin-left: 8%;
    font-style: italic;
    font-size: 12px;
    color: rgb(96, 62, 38);
}

.instructions {
    padding: 10px;
    margin: 10px 5px 10px 10px;
    width: 60%;
    font-size: 14px;
    border-radius: 20px;
    line-height: 1.5;
    border: none;
}

.submit-button {
    background-color: rgb(96, 62, 38);
    border: none;
    margin: 10px 10px 10px 5px;
    padding: 0 20px 0 20px;
    border-radius: 20px;
    font-weight: bold;
    width: 100px;
    color: white;
}

.recipe {
    font-size: 16px;
    margin: 10px;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    line-height: 2;
    color: black;
}

.hidden {
    display: none;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.blink {
    animation: blink 0.85s step-start 0s infinite;
}
